body {
  background-color: #222;
  background-image: url('../img/low_contrast_linen.png');
  margin-top: 80px;
  margin-bottom: 80px;
  color: #eee;
}
@media (max-width: 979px) {
  body {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
}

/*-- navtop --*/
.navtop-inner {
  min-height: 50px;
  background-image: url('../img/navbg.png');
  background-color: #333;
}
.navbar .brand {
  font-size: 24px;
  padding: 11px 20px 15px;
  font-family: 'Quando', serif;
}
.navbar .nav > li > a {
  padding-top: 15px;
  padding-bottom: 16px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-image: url('../img/navbg_selected.png');
}

/*-- index --*/
.toppage .span6 {
  background-color: none;
  color: #eee;
}
.index-title {
  padding-top: 50px;
  font-family: 'Quando';
  font-size: 70px;
  font-weight: normal;
  border-bottom: 1px dashed;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
}
.index-tagline {
  padding-top: 30px;
  font-family: 'Quando',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  text-align: center;
}

/*-- qa list --*/
.qa-list .caption {
  background-color: #7EBA03;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
.qa-table-scroll {
  height: 300px;
  overflow: auto;
}

/*-- search --*/
.search .row {
  margin-bottom: 20px;
}
.search-table a {
  color: #eee;
}
.search-table tbody tr:nth-child(odd) td {
  background-color: #777;
}
.search-table tbody tr:hover td {
  background-color: #999;
}

/*-- add company --*/
.add-company {
}
.add-company .help-block {
  color: #bbb;
}
.add-company .form-actions {
  background-color: transparent;
}

/*-- company --*/
.company-img {
  width: 80%;
  padding: 10%;
  background-color: #fff;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.company-edit {
  width: 24px;
  height: 24px;
  padding-bottom: 6px;
  padding-left: 10px;
}
.company a {
  color: #eee;
}
.company .span4 p {
  margin-top: 10px;
}
.update {
  background-color: #eee;
  opacity: 0.5;
  color: #333;
  min-height: 140px;
}
.update ul {
  padding-top: 15px;
  padding-left: 15px;
}
.input-append {
  margin-bottom: 0px;
}
.input-append input {
  border-radius: 0;
}
.input-append .btn:last-child {
  border-radius: 0;
}
.search-form {
  margin: 0;
  padding: 10px 20px 12px;
}
.search-form .btn {
  margin: 0 0 0 -5px;
}
.company .row {
  margin-bottom: 20px;
}
.company-info .span6 {
  background-color: #eee;
  color: #333;
}
.company-info h2 {
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
  background-color: #7EBA03;
  color: #eee;
  font-weight: normal;
  text-shadow: 0 1px 3px #222;
  -webkit-box-shadow: 0 1px 3px #222;
     -moz-box-shadow: 0 1px 3px #222;
          box-shadow: 0 1px 3px #222;
}
.company-info ul {
  padding: 10px
}
.edit-icons {
  padding-top: 8px;
  padding-right: 10px;
}
.edit-icons img {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}

/*-- company modal --*/
.modal-header {
  background-color: #7EBA03;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.modal-header h3 {
  font-weight: normal;
}
.modal-body {
  color: #333;
}

/*-- notification --*/
.notification {
  top: 50px;
  position: fixed;
  background-color: #BEDC81;
  right: 0;
  padding: 10px;
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
}
.notify-text {
  color: #5B8602;
}

/*-- navbottom --*/
.navbottom-inner {
  min-height: 40px;
  background-color: #7EBA03;
  background-image: none;
  filter: none;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-fixed-bottom i {
  color: #eee;
  line-height: 40px;
}
.navbar-fixed-bottom img {
  height: 40px;
  width: 40px;
}

/*
COLOR
#F3F9E8
#BEDC81
#BEDC81
#5B8602
*/
