body {
  background-color: #222;
  background-image: url('../img/low_contrast_linen.png');
  margin-top: 80px;
  margin-bottom: 80px;
  color: #eee;
}
@media (max-width: 979px) {
  body {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
@media (max-width: 480px) {
  body {
    margin-bottom: 0px
  }
}

/*-- navtop and navbottom --*/
.navtop-inner {
  min-height: 50px;
  background-image: url('../img/navbg.png');
  background-color: #333;
}
.navbar .brand {
  font-size: 24px;
  padding: 11px 20px 15px;
  font-family: 'Quando', serif;
}
.navbar .nav > li > a {
  padding-top: 15px;
  padding-bottom: 16px;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  background-image: url('../img/navbg_selected.png');
}
.navbottom-inner {
  min-height: 40px;
  background-color: #7EBA03;
  background-image: none;
  filter: none;
  -webkit-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.25), inset 0 1px 0 rgba(0, 0, 0, 0.1);
}
.navbar-fixed-bottom img {
  height: 40px;
  width: 40px;
}
.navbar-fixed-bottom a {
  color: #FFF;
}
.footer-info {
  font-style: italic;
  color: #EEE;
  line-height: 40px;
  float: left;
}
.footer-button {
  width: 85px;
  float: right;
}
@media (max-width: 979px) {
  .navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
    padding: 0px;
  }
  .navbar .btn-navbar {
    margin: 10px;
  }
  .navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-image: none;
  }
  .navbar-fixed-bottom {
    position: fixed;
    /*
    margin-right: 0;
    margin-left: 0;
    */
    margin-top: 0;
  }
  .footer-info {
    font-size: 11px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 768px) {
  .navbar-fixed-bottom {
    position: fixed;
    margin-right: 0;
    margin-left: 0;
  }
  .footer-info {
    line-height: 20px;
    width: 535px;
  }
}
@media (max-width: 639px) {
  .footer-info {
    width: 375px;
  }
}
@media (max-width: 480px) {
  .search-form {
    display: none;
  }
  .navbar-fixed-bottom {
    position: static;
    margin-right: -20px;
    margin-left: -20px;
  }
  .footer-info {
    font-size: 10px;
    line-height: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 215px;
  }
}

/*-- index --*/
.toppage {
  padding-top: 70px;
}
.toppage .span6 {
  background-color: none;
  color: #eee;
  margin-bottom: 30px;
}
.index-title {
  padding-top: 50px;
  font-family: 'Quando';
  font-size: 70px;
  font-weight: normal;
  border-bottom: 1px dashed;
  line-height: 1;
  text-align: center;
  text-shadow: 0px 2px 2px #000;
}
.index-tagline {
  padding-top: 30px;
  font-family: 'Quando',"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  text-align: center;
}
.social-button {
  text-align: center;
  border-top: 1px dashed;
  padding-top: 10px;
  margin-top: 30px;
  padding-bottom: 70px;
}
.social-button iframe {
  margin-bottom: -7px;
}
@media (max-width: 979px) {
  .toppage {
    padding-top: 30px;
  }
  .index-title {
    font-size: 60px
  }
}
@media (max-width: 480px) {
  .index-title {
    font-size: 40px;
  }
  .index-tagline {
    font-size: 14px;
  }
}

/*-- quesiton list --*/
.question-cat-list {
  list-style-type: none;
  margin: 0 0 20px 0;
}
.question-cat-list .selected {
  background-color: #777;
}
.question-cat-list li {
  line-height: 1;
  padding: 15px 30px 15px 15px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  position: relative;
}
.question-cat-list li:hover {
  background-color: #555;
}
.question-cat-list li:nth-child(1) {
  border-top: 1px solid #ddd;
}
.question-cat-list i {
  position: absolute;
  right: 10px;
}
.question-table td:last-child {
  width: 20%;
}
.progress {
  margin-bottom: 0px;
}

/*-- question --*/
.question .row {
  margin-bottom: 20px;
}
.question-header h2{
  background-color: #7EBA03;
  font-weight: normal;
  text-shadow: 0 1px 3px #222;
  padding: 10px;
  margin-bottom: 20px;
}
.answer-table {
  table-layout: fixed;
}
.answer-table th {
  width: 30%;
}
.answer-table th:last-child {
  width: 40%;
}
.clear {
  clear: both;
}
.choice-field {
  margin-bottom: 20px;
}
@media (max-width: 979px) {
  .question [class*="span"] {
    display: block;
    float: none;
    width: auto;
    margin-left: 0;
  }
  .select-field {
    float: left;
    width: 50%;
  }
}
@media (max-width: 480px) {
  .select-field {
    float: none;
    width: 100%
  }
}

/*-- qa list --*/
.nav-tabs a {
  color: #EEE;
}
.nav-tabs > li > a:hover {
  color: #333;
}
.qa-table {
  table-layout: fixed;
}
.qa-table th {
  font-size: 9px;
  width: 49px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.qa-table th:first-child {
  width: 79px;
}
.qa-table a {
  color: #eee;
}
.qa-table thead {
  background-color: #222;
}
.qa-table tbody tr:nth-child(odd) td {
  background-color: #777;
}
.qa-table tbody tr:hover td {
  background-color: #999;
}
.qa-table-head-only {
  display: none;
  position: fixed;
  top: 50px;
  z-index: 2000;
  width: 940px;
}
@media (min-width: 1200px) {
  .qa-table-head-only {
    width: 1170px;
  }
  .qa-table th {
    width: 64px;
  }
  .qa-table th:first-child {
    width: 114px;
  }
}
@media (max-width: 979px) {
  .qa-table th {
    width: 80px;
  }
}

/*-- ranking/question --*/
#graphcanvas {
  min-height: 400px;
}
.flotr-labels a {
  color: #eee;
}
.ranking-header h4 {
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #777;
  opacity: 0.8;
}
.ranking-header {
  margin-bottom: 15px;
}
@media (max-width: 480px) {
  .ranking {
    margin-bottom: 20px;
  }
}

/*-- search --*/
.search .row {
  margin-bottom: 20px;
}
.search-table a {
  color: #eee;
}
.search-table tbody tr:nth-child(odd) td {
  background-color: #777;
}
.search-table tbody tr:hover td {
  background-color: #999;
}

/*-- add company --*/
.add-company {
}
.add-company .help-block {
  color: #bbb;
}
.add-company .form-actions {
  background-color: transparent;
}

/*-- company --*/
.company-img {
  width: 80%;
  padding: 10%;
  background-color: #fff;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.company-edit {
  width: 24px;
  height: 24px;
  padding-bottom: 6px;
  padding-left: 10px;
}
.company a {
  color: #eee;
}
.company .span4 p {
  margin-top: 10px;
}
.update {
  background-color: #eee;
  opacity: 0.5;
  color: #333;
  min-height: 140px;
}
.update ul {
  padding-top: 15px;
  padding-left: 15px;
}
.input-append {
  margin-bottom: 0px;
}
.input-append input {
  border-radius: 0;
}
.input-append .btn:last-child {
  border-radius: 0;
}
.search-form {
  margin: 0;
  padding: 10px 20px 12px;
}
.search-form .btn {
  margin: 0 0 0 -5px;
}
.company .row {
  margin-bottom: 20px;
}
.company-info .span6 {
  background-color: #eee;
  color: #333;
}
.company-info h2 {
  padding: 5px 0 5px 10px;
  margin-bottom: 10px;
  background-color: #7EBA03;
  color: #eee;
  font-weight: normal;
  text-shadow: 0 1px 3px #222;
  -webkit-box-shadow: 0 1px 3px #222;
     -moz-box-shadow: 0 1px 3px #222;
          box-shadow: 0 1px 3px #222;
}
.company-info ul {
  padding: 10px
}
.edit-icons {
  padding-top: 8px;
  padding-right: 10px;
}
.edit-icons img {
  width: 30px;
  height: 30px;
  padding-left: 5px;
}

/*-- company modal --*/
.modal-header {
  background-color: #7EBA03;
  -webkit-border-radius: 3px 3px 0 0;
     -moz-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}
.modal-header h3 {
  font-weight: normal;
}
.modal-body {
  color: #333;
}

/*-- notification --*/
.notification {
  top: 50px;
  position: fixed;
  background-color: #BEDC81;
  right: 0;
  padding: 10px;
  opacity: 0.7;
  text-align: center;
  cursor: pointer;
}
.notify-text {
  color: #5B8602;
}


/*
COLOR
#F3F9E8
#BEDC81
#BEDC81
#5B8602
*/
