<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock title %}SukeRoom</title>
  <meta name="description" content="いろんな会社の会社情報などなど">
  <meta name="author" content="keiko713">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Quando'>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/docs.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.ico">
  <!-- for google analytics -->
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-34041009-1']);
    _gaq.push(['_trackPageview']);

    (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

  </script>
</head>
<body>
  <!-- header -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner navtop-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="input-append pull-right">
          <form action="/search/" class="search-form" id="idSearchForm" method="GET">
            <input class="span3" id="appendedInputButton" size="16" type="text" name="keyword" placeholder="会社名などから検索">
            <button class="btn" type="submit">
              <i class="icon-search"></i>
            </button>
          </form>
        </span>
        <a class="brand" href="/">SukeRoom</a>
        <div class="nav-collapse">
          <ul class="nav">
            <li class="{% block companylist-active %}{% endblock %}"><a href="/companylist/">会社一覧</a></li>
            <li class="{% block questionlist-active %}{% endblock %}"><a href="/questionlist/">質問一覧(旧統計)</a></li>
            <li class="{% block ranking-active %}{% endblock %}"><a href="/ranking/">ランキング</a></li>
            <li class="{% block qalist-active %}{% endblock %}"><a href="/qalist/">回答一覧</a></li>
            <li class="{% block addcompany-active %}{% endblock %}"><a href="/addcompany/">会社追加</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- /header -->

  <!-- main container -->
  {% block container %}
  {% endblock container %}
  <!-- /main container -->

  <!-- footer -->
  <div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner navbottom-inner">
      <div class="container">
        <span class="footer-info">
          このWebサイトの情報はボランティアによって編集されており、内容に保証はありません。
          情報元は<a href="http://bit.ly/HW8EHd" target="_blank">こちら</a>から参照できます。
        </span>
        <span class="footer-button">
          <a href="https://twitter.com/SukeRoom" title="Follow me on Twitter" target="_blank"><img src="{{ STATIC_URL }}img/icons/Twitter.png"></a>
          <a href="https://github.com/keiko713/sukeroom" title="Fork me on GitHub" target="_blank"><img src="{{ STATIC_URL }}img/icons/Github.png"></a>
        </span>
      </div>
    </div>
  </div>
  <!-- /footer -->

  <script src="{{ STATIC_URL}}js/jquery-1.7.2.min.js"></script>
  <script src="{{ STATIC_URL}}js/bootstrap-collapse.js"></script>
  {% block custom_js %}
  {% endblock custom_js %}
</body>
</html>
