{% extends "base.html" %}
{% load room_extras %}

{% block title %}{{ result.company.company_name }} | {% endblock title %}

{% block container %}
<!-- main container -->
<div class="container company">
  <div class="row">
    <div class="span2">
      <a href="{{ result.company.get_absolute_url }}">
        <img src="{{ result.company.company_image_url }}" class="company-img">
      </a>
    </div>
    <div class="span4">
      <h2><a href="{{ result.company.get_absolute_url }}">{{ result.company.company_name }}</a><a href="/editcompany/{{ result.company.id }}/" rel="tooltip" title="会社情報を編集"><img src="{{ STATIC_URL }}img/icons/pencil.png" class="company-edit"></a></h3>
      <h4><a href="{{ result.company.company_url }}" target="_blank">{{ result.company.company_url }} <i class="icon-share icon-white"></i></a></h4>
      <p>{{ result.company.company_description }}</p>
      <input type="hidden" value="{{ result.company.id }}" id="cid">
    </div>
    <div class="span6 update">
      <ul class="unstyled">
        <li>{{ result.not_answer_yet }} 件の質問に未回答です</li>
        <li>最近回答した質問:</li>
        {% for que in result.recent_ans_questions %}
        <li>"{{ que }}" に回答しました</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% for object in result.categories %}
  {% if forloop.first or forloop.counter0|divisibleby:2 %}
  <div class="row company-info">
  {% endif %}
    <div class="span6">
      <span class="pull-right edit-icons">
        <a data-toggle="modal" href="#edit{{ object.id_name }}" rel="tooltip" title="このカテゴリの回答を編集"><img src="{{ STATIC_URL }}img/icons/pencil.png"></a>
        <a href="#" class="add-modal" data-category="{{ object.category_id }}" data-title="{{ object.display_name }}" rel="tooltip" title="このカテゴリに新しい質問を追加"><img src="{{ STATIC_URL }}img/icons/add.png"></a>
      </span>
      <h2>{{ object.display_name }}</h3>
      <ul id="id{{ object.id_name }}">
        {% for qa in object.qas %}
        <li><strong>{{ qa.question_sentence }}</strong>: {% if qa.answer %}{{ qa.answer }}{% else %}未回答{% endif %} {% if qa.additional_info %} ({{ qa.additional_info }}) {% endif %}</li>
        {% endfor %}
      </ul>
    </div>
  {% if forloop.last or forloop.counter|divisibleby:2 %}
  </div>
  {% endif %}
  {% endfor %}
</div>
<!-- /main container -->

<!-- modal edit -->
{% for object in result.categories %}
<div class="modal hide" id="edit{{ object.id_name }}">
  <div class="modal-header">
    <button type="button" class="close close-modal">×</button>
    <h3>編集: {{ object.display_name }}</h3>
  </div>
  <form style="margin: 0;">
  <div class="modal-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>項目名</th>
          <th>項目値</th>
          <th>補足 (オプション)</th>
        </tr>
      </thead>
      <tbody>
        {% for qa in object.qas %}
          {% print_value qa %}
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn close-modal">キャンセル</a>
    <a href="#" class="btn btn-primary edit-submit">変更を保存</a>
  </div>
</form>
</div>
{% endfor %}
<!-- /modal edit -->

<!-- modal addnew -->
<div class="modal hide" id="addnew">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="addTitle">追加:</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="itemName">項目名</label>
          <div class="controls">
            <input type="text" class="input-xlarge" id="itemName" required>
            <p class="help-block">要否や可否、有無などは項目名に付けないようにしてください。</p>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="itemType">項目値</label>
          <div class="controls">
            <select id="itemType">
              <option value="1" selected>インプットボックス</option>
              <option value="2">可/不可セレクトボックス</option>
              <option value="3">有/無セレクトボックス</option>
              <option value="4">必須/推奨/不要セレクトボックス</option>
            </select>
          </div>
        </div>
      </fieldset>
      <input type="hidden" id="category" value="">
    </form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">キャンセル</a>
    <a href="#" class="btn btn-primary add-submit">追加</a>
  </div>
</div>
<!-- /modal addnew -->
{% endblock container %}

{% block custom_js %}
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script src="{{ STATIC_URL }}js/company.js"></script>
{% endblock custom_js %}
