{% extends "base.html" %}

{% block title %}回答一覧 | {% endblock title %}
{% block qalist-active %}active{% endblock qalist-active %}

{% block container %}
<!-- main container -->
<div class="container qa-list">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      {% for obj in categories %}
      <li{% if forloop.first %} class="active"{% endif %}>
        <a href="#tab{{ forloop.counter }}" data-toggle="tab">{{ obj.display_name }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for obj in categories %}
      <div class="tab-pane{% if forloop.first %} active{% endif %}" id="tab{{ forloop.counter }}">
        <table class="table qa-table qa-table-head-only">
          <thead>
            <tr>
              <th>&nbsp;</th>
              {% for q in obj.questions %}
              <th><a href="#" rel="tooltipt" title="{{ q.question_sentence }}">{{ q.question_sentence }}</a></th>
              {% endfor %}
            </tr>
          </thead>
        </table>
        <table class="table table-striped qa-table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              {% for q in obj.questions %}
              <th><a href="#" rel="tooltip" title="{{ q.question_sentence }}">{{ q.question_sentence }}</a></th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for company in obj.companies %}
            <tr>
              <td><a href="{{ company.company_url }}">{{ company.company_name }}</a></td>
              {% for ans in company.answers %}
              <td>{{ ans.answer }}</a>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
          <thead>
            <tr>
              <th>&nbsp;</th>
              {% for q in obj.questions %}
              <th><a href="#" rel="tooltip" title="{{ q.question_sentence }}">{{ q.question_sentence }}</a></th>
              {% endfor %}
            </tr>
          </thead>
        </table>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- /main container -->
{% endblock container %}

{% block custom_js %}
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-tooltip.js"></script>
<script>
  $(function() {
    /* activate tooltip */
    $('a[rel=tooltip]').tooltip();
    $('a[rel=tooltipt]').tooltip({placement: 'bottom'});
    /* for table title */
    $(window).scroll(function() {
      if ($(window).width() > 979) {
        if ($(window).scrollTop() > 80) {
          $('.qa-table-head-only').show();
        } else {
          $('.qa-table-head-only').hide();
        }
      }
    });
  });
</script>
{% endblock custom_js %}
