{% extends "base.html" %}

{% block title %}回答一覧 | {% endblock title %}
{% block qalist-active %}active{% endblock qalist-active %}

{% block container %}
<!-- main container -->
<div class="container qa-list">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      {% for obj in categories %}
      <li{% if forloop.first %} class="active"{% endif %}>
        <a href="#tab{{ forloop.counter }}" data-toggle="tab">{{ obj.display_name }}</a>
      </li>
      {% endfor %}
    </ul>
    <div class="tab-content">
      {% for obj in categories %}
      <div class="tab-pane{% if forloop.first %} active{% endif %}" id="tab{{ forloop.counter }}">
        <table class="table table-striped qa-table">
          <thead>
            <tr>
              <th></th>
              {% for q in obj.questions %}
              <th>{{ q.question_sentence }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for company in obj.companies %}
            <tr>
              <td><a href="/company/{{ company.company_id }}/">{{ company.company_name }}</a></td>
              {% for ans in company.answers %}
              <td>{{ ans.answer }}</a>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
  <div>
<!-- /main container -->
{% endblock container %}

{% block custom_js %}
<script src="{{ STATIC_URL }}js/bootstrap-tab.js"></script>
<script>
  $(function() {
  });
</script>
{% endblock custom_js %}
